
<html>



<head>

<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>


</head>


<header>
  <div class="banner">
  <div class="dropdown">
    <button class="dropbtn"> X </button>
      <div class="dropcontent">
        <a href="/" class="dropdown"> Home </a>
        <a href="/about" class="dropdown"> About </a>
        <a href="/contact" class="dropdown"> Contact </a>
        <a href="/investors" class="dropdown"> Invest </a>
        <a href="/researchlinks" class="dropdown">Research</a>
        <a href="/portfolio" class="dropdown">Portfolio</a>
      </div>
</div>


      <div class="title"> Free Market Insights</div>

    <a href="/signup">Sign Up</a> &nbsp/&nbsp
    <a href="/login">Login</a>&nbsp/&nbsp
    <a href="/profile">My Profile</a>
  </div><br>

  <div class="spacer">
<br><br><br>
    <div class="slogan">A Rational Approach to an Irrational World</div>
  </div>

</header>




<body>

    <div class="vertical" style="padding:50px;">
  Username or Password Not Found<br><br>

  Please Try To Login Again<br><br>

  <a href="/login"><button class="link3" style="border:2px solid black;border-radius:1rem;padding:10px;"> Login</button></a>

</div>
<body>

</html>
