<!doctype html>
<html>

<head>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-4458360192360211",
      enable_page_level_ads: true
    });
  </script>


<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#ffffff">

<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link href="css/main_iphone.css" media="(max-width: 600px)" rel="stylesheet">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>




</head>

<header>
  <div class="banner">
  <div class="dropdown">
    <button class="dropbtn"> X </button>
      <div class="dropcontent">
        <a href="/" class="dropdown"> Home </a>
        <a href="/about.html" class="dropdown"> About </a>
        <a href="/contact.gohtml" class="dropdown"> Contact </a>
        <a href="/investors" class="dropdown"> Invest </a>
        <a href="/researchlinks" class="dropdown">Research</a>
        <a href="/portfolio" class="dropdown">Portfolio</a>
      </div>
</div>


      <div class="title"> Free Market Insights</div>

    <a href="/signup">Sign Up</a> &nbsp/&nbsp
    <a href="/login">Login</a>&nbsp/&nbsp
    <a href="/profile">My Profile</a>
  </div><br>

  <div class="spacer">
<br><br><br>
    <div class="slogan">A Rational Approach to an Irrational World</div>
  </div>

</header>

<body>







<div class="page">
<div class="posts">
        <br>


<!--  splits page into two halves -->
<div class="horizontal">

<!--  start of the first half -->
<div class="vertical">



  <div class="title"> Cumulative Return Index Tracking </div><br>
<canvas id="myChart"></canvas>
<script src="/js/Chart.js"></script>
<script>

var xhttp3=new XMLHttpRequest();
xhttp3.onreadystatechange=function(){
  if (this.readyState ==4 && this.status ==200){
    var response3=JSON.parse(xhttp3.responseText);

    var ctx = document.getElementById('myChart').getContext('2d');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: response3,
        options: options
    });

    }
    }
  };
  xhttp3.open("Get", "json/portfoliohistory.json",true);
  xhttp3.send();



</script>



<br><br>
<br><br>
<br><br>




<script>
var xhttp=new XMLHttpRequest();
xhttp.onreadystatechange=function(){
  if (this.readyState ==4 && this.status ==200){
    var response=JSON.parse(xhttp.responseText);
    var output='';
    for (var i=0;i<5;i++){
      output +=
        '<tr>'+
        '<td>$'+response[i].target+'</td>'+
        '<td>$'+response[i].price+'</td>'+
        '<td>'+response[i].returns/100+'%'+'</td>'+
        '<td>'+response[i].divyield+'</td>'+
        '<td><a href="http://www.google.com/search?q='+response[i].ticker+'+stock+price"  target="_blank" >'+response[i].ticker+'</a></td>'+
        '<td><a href="http://www.google.com/search?q='+response[i].note+'"  target="_blank" >'+response[i].note+'</a></td>'+
        '</tr>';
    }
    console.log(output);
    document.getElementById('mbull').innerHTML=output;
    }
  };
  xhttp.open("Get", "json/marketbulls.json",true);
  xhttp.send();
</script>


<div class="title"> Market Bulls </div>
<div class="hometable">
<table>
  <thead>
    <tr>
      <th>Target Price</th>
      <th>Today's Price</th>
      <th>Expected Return</th>
      <th>Dividend Yield</th>
      <th>Ticker</th>
      <th>News Title</th>
    </tr>
  </thead>
  <tbody id="mbull"></tbody>
</table>
</div>







<script>
var xhttp2=new XMLHttpRequest();
xhttp2.onreadystatechange=function(){
  if (this.readyState ==4 && this.status ==200){
    var response2=JSON.parse(xhttp2.responseText);
    var output2='';
    for (var i=0;i<5;i++){
      output2 +=
        '<tr>'+
        '<td>$'+response2[i].target+'</td>'+
        '<td>$'+response2[i].price+'</td>'+
        '<td>'+response2[i].returns/100+'%'+'</td>'+
        '<td>'+response2[i].divyield+'</td>'+
        '<td><a href="http://www.google.com/search?q='+response2[i].ticker+'+stock+price"  target="_blank" >'+response2[i].ticker+'</a></td>'+
        '<td><a href="http://www.google.com/search?q='+response2[i].note+'"  target="_blank" >'+response2[i].note+'</a></td>'+
        '</tr>';
    }




    document.getElementById('mbear').innerHTML=output2;
    }
  };
  xhttp2.open("Get", "json/marketbears.json",true);
  xhttp2.send();
</script>

<div class="title"> Market Bears </div>
<div class="hometable">
<table>
  <thead>
    <tr>
      <th>Target Price</th>
      <th>Today's Price</th>
      <th>Expected Return</th>
      <th>Dividend Yield</th>
      <th>Ticker</th>
      <th>News Title</th>
    </tr>
  </thead>
  <tbody id="mbear"></tbody>
</table>
</div>




<div class="title"> Tools</div>
    <a class="link" href="https://www.robinhood.com"> Trade with Robinhood</a>
    <a class="link" href="/profile"> Signup for access to AI Stock sorter</a>
    <a class="link" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=B00NB86OYE&asins=B00NB86OYE&linkId=428209263703e9c0969e2310d75fb6f2&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff"> Audio Books </a>

  <div class="title"> Book List</div>
      <a class="link" href="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=embulldogs99-20&marketplace=amazon&region=US&placement=0743200403&asins=0743200403&linkId=878e479b847b1fd021721a2f8ae61582&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">One Up on Wall Street - Peter Lynch</a>
      <a class="link" href="https://www.amazon.com/Unshakeable-Your-Financial-Freedom-Playbook-ebook/dp/B01KU08VQE/ref=pd_sim_351_1?_encoding=UTF8&pd_rd_i=B01KU08VQE&pd_rd_r=1964d897-157f-11e9-a96d-590add2e911b&pd_rd_w=pAmse&pd_rd_wg=dYXNM&pf_rd_p=18bb0b78-4200-49b9-ac91-f141d61a1780&pf_rd_r=3614EPHZ6R35K6FFVPN8&psc=1&refRID=3614EPHZ6R35K6FFVPN8"> Tony Robbins's Money Master the Game</a>


    <br>
<br>
<br>

</div>

  <div class="vertical2">
  <div class="ads">

Ads here<br>
Ads<br>
Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>Ads here<br>
Ads<br>
</div>



<div class="sidebar">

      <br><br><d>Connect with Me!</d>
        <a href="mailto:freemarketinsights@gmail.com">
          <svg viewBox="0 0 100 100">
          <path
                d="M 32.00,10.00
                   C 32.00,10.00 82.00,10.00 82.00,10.00
                     92.66,10.02 93.98,11.34 94.00,22.00
                     94.00,22.00 94.00,61.00 94.00,61.00
                     94.00,64.67 94.57,73.92 92.83,76.77
                     90.56,80.48 85.75,79.99 82.00,80.00
                     82.00,80.00 24.00,80.00 24.00,80.00
                     19.13,80.00 7.75,81.46 5.02,76.85
                     3.81,74.80 4.00,71.35 4.00,69.00
                     4.00,69.00 4.00,42.00 4.00,42.00
                     4.00,42.00 4.00,20.00 4.00,20.00
                     4.03,15.51 3.65,14.12 7.15,11.02
                     12.46,9.13 25.73,10.00 32.00,10.00 Z
                   M 16.10,29.96
                   C 16.10,29.96 40.00,49.35 40.00,49.35
                     43.24,51.80 46.67,54.59 51.00,53.47
                     54.27,52.63 59.27,48.38 62.00,46.20
                     67.23,42.03 78.98,33.40 82.79,28.99
                     84.95,26.49 89.01,19.90 85.40,17.02
                     83.83,15.77 79.98,16.00 78.00,16.00
                     78.00,16.00 36.00,16.00 36.00,16.00
                     30.40,16.00 18.11,15.44 13.31,16.60
                     8.68,20.53 12.81,26.47 16.10,29.96 Z
                   M 10.00,64.00
                   C 10.00,66.19 9.79,69.84 11.02,71.69
                     12.75,74.27 16.27,73.98 19.00,74.00
                     19.00,74.00 58.00,74.00 58.00,74.00
                     58.00,74.00 80.00,74.00 80.00,74.00
                     82.14,73.96 84.77,74.04 86.40,72.40
                     88.32,70.48 87.99,66.54 88.00,64.00
                     88.00,64.00 88.00,35.00 88.00,35.00
                     88.00,35.00 65.00,52.79 65.00,52.79
                     61.12,55.84 55.99,60.07 51.00,60.79
                     44.10,61.77 39.04,57.61 34.00,53.60
                     34.00,53.60 11.00,35.00 11.00,35.00
                     9.10,39.80 9.99,57.77 10.00,64.00 Z" />
        </svg>
      </a>
      <a href="https://twitter.com/fmarketinsights">
        <svg viewBox="0 0 100 100">
          <path d="M 69.00,12.19
                   C 75.47,12.92 78.27,16.53 81.29,16.71
                     83.75,16.86 89.53,14.05 92.00,13.00
                     92.00,13.00 88.00,22.00 88.00,22.00
                     88.00,22.00 94.00,21.00 94.00,21.00
                     91.12,27.09 88.01,28.03 86.02,32.00
                     84.64,34.77 85.15,38.00 84.83,41.00
                     84.41,44.92 82.69,50.37 81.13,54.00
                     74.51,69.43 60.89,81.27 44.00,83.85
                     44.00,83.85 29.00,83.85 29.00,83.85
                     21.81,83.91 9.84,81.60 6.00,75.00
                     15.22,76.45 22.29,73.96 30.00,69.00
                     22.00,66.20 17.53,63.56 15.00,55.00
                     15.00,55.00 21.00,55.00 21.00,55.00
                     12.53,52.11 9.42,45.47 9.00,37.00
                     9.00,37.00 15.00,39.00 15.00,39.00
                     8.34,30.78 7.15,24.53 12.00,15.00
                     25.40,25.71 30.28,32.47 49.00,34.00
                     46.55,21.59 56.33,10.76 69.00,12.19 Z
                   M 87.00,22.00
                   C 87.00,22.00 88.00,23.00 88.00,23.00
                     88.00,23.00 88.00,22.00 88.00,22.00
                     88.00,22.00 87.00,22.00 87.00,22.00 Z" />
        </svg>
      </a>

</div>




</div>


</div>


</div>

</div>






<br>
<br>
<br>
<br>
<br>
<br>
<br>





</body>

<!--
{{range .Target}}
  {{.}}
{{end}}
{{range .Price}}
  {{.}}
{{end}}
{{range .Returns}}
  {{.}}
{{end}}
{{range .Ticker}}
  {{.}}
{{end}}
{{range .Note}}
  {{.}}
{{end}}
{{range .Date}}
  {{.}}
{{end}}
{{range .Q_eps}}
  {{.}}
{{end}}
{{range .A_eps}}
  {{.}}
{{end}}
{{range .Report}}
  {{.}}
{{end}} -->

</html>
